.willkommen{
    width: 200px;
    height: 400px;
    background-color: aqua;
    margin: 40px;
    border: solid black 2px;
    position: relative;
    margin-bottom: 100px;
}

.schwarz{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 60px;
    height: 60px;
    border: solid black 2px;
    background-color: black;
}

.gruen{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: green;
    border-left: 2px black solid;
    border-top: 2px black solid;
    height: 40px;
    width: 40px;
}

.bar{
    position: relative;
    margin: 40px;
    height: 60px;
    border: black 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    margin: 20px;
    border: black 2px solid;
    background-color: green;
    width: 40px;
    height: 20px; 
}